Source: optirunner
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               cdbs,
               pkg-config,
               mono-gmcs,
               liboptimization2-sharp (>= 2.21),
               libtool
Standards-Version: 3.8.0
Section: libs
Homepage: http://birg.epfl.ch

Package: optirunner
Section: libs
Architecture: any
Depends: liboptimization2-sharp (>= 2.21)
Recommends: liboptimizers2-sharp
Description: Optimization framework job runner
 Job runner the optimization framework
